.App {
  text-align: center;
  font-family: 'Avenir';
}

.search-container{
  margin-top: 6em;
}

.main-title{
  font-family: 'Avenir', sans-serif;
  font-size: 12em;
  text-align: center;
  margin-top: 1em;
}


#nyc{
  font-size: 0.2em;
}

.search{
  margin-left: 12em;
}

.title-text{
  font-family: 'Avenir', sans-serif;
  font-size: 2.5em;
}

.term-name{
  color: #D1632B;
}

#nav{
  margin-top: 1em;
}

.field.ui.input.focus.term{
  width: 45em;
  margin-right: -12px;
}

.ui.button.black{
  margin-left: -5px;
  background-color: #16496B;
  font-family: 'Avenir'. sans-serif;
}

.ui.form{
  margin-left: 5.5em;
  margin-top: 10px;
}

.link{
  color: black;
  font-weight: 550;
  font-size: 15px;
}

.link.review{
  margin-left: 3em;
  margin-top: 1.2em;
}

.box{
  text-align: left;
  margin-left: 7em;
  margin-right: 60em;
  margin-top: 5em;
  margin-bottom: 5em;
  width: 1fr;
  height: 0.5fr;
  position: relative;
}

/* .box:after{
  padding-bottom: 100%;
  display: block;
} */

.search-img{
  width:700px;
  height: 350px;
  object-fit: cover;
  filter: opacity(70%) grayscale(30%);
}

.search-text{
  position: absolute;
  top: 1em;
  left: 3%;
  width: 100%;
  font-family: 'Avenir',sans-serif;
  color:white;
}

h2.search-text{
  font-size:300%;
  font-weight: 500;
  margin-top: -0.7em;
  background-color: rgba(0,0,0,0.6);
  width: 55%;
  padding-left: 10px;
}

h3.search-text{
  font-size:150%;
  margin-top: 8em;
  padding-left: 10px;
  width: 55%;
  background-color: rgba(0,0,0,0.6);
}

/* Media Queries */

@media only screen and (max-width: 600px) {
  .main-title {
    font-size: 4em;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .main-title {
    font-size: 6em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .main-title {
    font-size: 8em;
  }
}
